@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Ballet:opsz@16..72&family=Beau+Rivage&family=Cherish&family=Comme:wght@100..900&family=Estonia&family=Explora&family=Luxurious+Script&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&family=Stint+Ultra+Condensed&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: navy;
}